@tailwind base;
@tailwind components;
@tailwind utilities;

/* Override default focus supportedColors for tailwindcss-forms https://github.com/tailwindlabs/tailwindcss-forms */
[type="text"]:focus,
[type="email"]:focus,
[type="url"]:focus,
[type="password"]:focus,
[type="number"]:focus,
[type="date"]:focus,
[type="search"]:focus,
[type="checkbox"]:focus,
[type="radio"]:focus,
[multiple]:focus,
textarea:focus,
select:focus {
    --tw-ring-color: var(--primary-color-1000);
    border-color: var(--primary-color-1000);
}
